<configuration>
  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <encoder>
      <pattern>%-5level %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">
    <file>xmlcalabash.log</file>
    <append>false</append>
    <immediateFlush>true</immediateFlush>
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} -%kvp- %msg%n</pattern>
    </encoder>
  </appender>
  
  <root level="DEBUG" additivity="false">
    <appender-ref ref="STDERR"/>
    <appender-ref ref="LOGFILE"/>
  </root>

  <logger name="org.apache.hc.client5.http" level="WARN"/>
</configuration>
